.split-content {
	display: flex;
	flex-wrap: wrap;

	.side-content {
		flex: 1 0 300px;
		order: 2;
		display: flex;
		align-items: center;

		p:first-child {
			margin-top: 0;
		}
	}

	.side-photo {
		display: flex;
		align-items: center;
		flex: 0 1 400px;
		margin: 0 20px 30px 0;

		img {
			display: block;
			margin: 0 auto;
			height: 100%;
		}
	}
}